.jumbotron{
    background-image: url(Photo/surf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
   
}



i{
    font-size: 4rem;
}


